
# Elastic Beanstalk Files
.ebextensions/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

secrets.json

nstapp/apps.py

db.sqlite3

__pycache__

/aws-elastic-beanstalk-cli-setup/

.idea
